
{% extends 'base.html.twig' %}
{% block body %}
    <h1>Experiences</h1>

    {{ include('experiences/_form.html.twig') }}

    <a href="{{ path('app_scolarite_new') }}">Next </a>
{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}