{% extends 'base.html.twig' %}


{% block title %}Your Profile{% endblock %}

{% block body %}
    <h1>Welcome to Your Profile</h1>
    {{ include('competences/index.html.twig') }}
    
{% endblock %}