{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Photo Profile</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_portfolio_index') }}">NEXT </a>
{% endblock %}
